{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}

		<h1 class="form-title">Créez une nouvelle catégorie</h1>

		{{ include('category/_form.html.twig') }}

		<div class="form-footer">
			<a href="{{ path('app_category_index') }}" class="btn-back">
				<i class="ion-arrow-left-c"></i>
				Revenir à toutes les catégories
			</a>
		</div>

{% endblock %}
