<form method="post" action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?')" 
      class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn-action btn-delete">
        <i class="ion-trash-a"></i>
        <span>Supprimer</span>
    </button>
</form>
