{% extends 'base.html.twig' %}

{% block title %}Modifier {{ recipe.name }}{% endblock %}

{% block body %}

        <h1 class="form-title">Modifier la recette</h1>

        {{ include('recipe/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="form-footer">
            <div class="actions">
                <a href="{{ path('app_recipe_index') }}" class="btn-back">
                    <i class="ion-arrow-left-c"></i> 
                    Retour à la liste
                </a>
                {{ include('recipe/_delete_form.html.twig') }}
            </div>
        </div>

{% endblock %}
