{% extends 'base.html.twig' %}

{% block title %}Votre recette{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/form.css')}}">
{% endblock %}
{% block javascripts %}
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="form-title">Ajoutez une nouvelle recette</h1>

        {{ include('recipe/_form.html.twig') }}

        <div class="form-footer">
            <a href="{{ path('app_recipe_index') }}" class="btn-back">
                <i class="ion-arrow-left-c"></i> 
                Revenir à toutes les recettes
            </a>
        </div>
    </div>
{% endblock %}
